/* Just an example of minimal styling. */
body {
  font-family: sans-serif;
  margin: 20px;
}
.green {
  color: green;
}
table {
  border-collapse: collapse;
  margin-top: 10px;
}
th, td {
  padding: 6px 10px;
}
